.menu {
  border: none;
}

.menu .item.header {
  color: #2185d0 !important;
  font-size: 1.5em;
}

.menu .item {
  color: #fff;
}

.sidebar {
  background-color: #2185d0;
}

.button {
  background-color: #fff !important;
  color: #2185d0;
  border: none;
}

.button:hover {
  background-color: #e0e0e0;
}

.icon {
  color: #2185d0;
  border: black;
}